<% layout('layout/boilerplate.ejs') %>
<style>
  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
    margin-bottom: 20px;
}

  @media only screen and (max-width: 767px) {
    #img1 {
      border-radius: 50%;
      height: 100%;
      width: 50%;
    }
  }

</style>
<div class="container mt-5">
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-3" style="text-align: center">
        <% user.image.forEach((img,i) => { %>
        <img src="<%= img.url %>" id="img1" class="card-img-top" alt="..." />
        <% }) %>
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title fs-3 text-uppercase"><%=user.username%></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item fs-6"><b>Email : </b><%=user.email%></li>
          <li class="list-group-item"><b>Mobile : </b><%=user.phone%></li>
          <li class="list-group-item">
            <b>Education Qualification : </b><%=user.qualification%>
          </li>
          <li class="list-group-item">
            <b>Location :</b><%=user.location %> 
          </li>
        
        </ul>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
        <% if(user.skill.length){ %>
    <h2>SKILL SET</h2>
  <div class="card mb-3">
    <div class="card-body">
      <ul class="list-group list-group-flush">
  <% for(let skill of user.skill){%>
    <li class="list-group-item"><%=skill.body%></li>
    <%}%>
      </ul>
      </div>
      </div>
<%}%>
    </div>
</div>
    </div>
  </div>
</div>
<div class="container">
  <% if(user.feeds.length) {%>
  <h2 class="text-center">Posts</h2>
  <div class="row mt-5">
      <% for(feed of user.feeds) {%>
        <div class=" col-lg-4 ">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% feed.image.forEach((img,i) => { %>
            <div class="carousel-item <%= i===0 ?'active' :'' %>" 
             style="
              background-image: url('<%=img.url%>');
              background-size: cover;
              background-position: center;
              height: 250px;" >
              
            </div>
            <% }) %>
          </div>
          <% if( feed.image.length > 1){ %> 
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <%}%> 
        </div>
          <div class="card mb-3" >
              <div class="card-body">
                  <div class="card-body">
                      <p class="card-text"><%=feed.desc.substring(0,200)%>...</p>
                      
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item text-muted"><%=feed.author.username%>days</li>
                      <li class="list-group-item text-muted"><%=feed.duration%>days</li>
                      <li class="list-group-item text-muted">
                        <form action="/earn/<%=feed._id%>" method="get">
                          <input type="submit" value="VIEW" class="btn btn-outline-info">
                        </form>
                      </li>
                    </ul>
                  </div>
                  </div>
                </div>
    <%}%>
  </div>
  <%}%>
</div>
